{#
/**
 * @file checkstyle_issue.html.twig
 * Default theme implementation to present Checkstyle Issue data.
 *
 * This template is used when viewing Checkstyle Issue pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - code: The formatted source code.
 *
 * @see template_preprocess_checkstyle_issue()
 *
 * @ingroup themeab
 */
#}
<div{{ attributes.addClass('violation') }}>
  {{ code|raw }}
</div>
